<%= form_for([@post, @comment]) do |f| %>
  <form>
    <%= render 'shared/comment_error_messages' %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "Type your comment here", class: "form-control" %> <br>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  </form>
  
<% end %>
