<% puts "rendering preview #{post.title}" %>
<li class="list-group-item item">
  <h1 class="title"> <%= link_to "#{post.title}", post %> </h1>
  <div class="date"><%= post.created_at %></div>
  <div class="commentCount"><%= post.comment_count %></div>
</li>