<%= react_component("Post", props: @react_post_props, prerender: false) %>

<div class="commentGroup">
  <% if @post.comments.count > 0 %>
      <div class="commentList">
        <h3>Comments</h3>
        <ul class="list-group">
          <%= render @comments %>
        </ul>
      </div>
  <% end %>

  <div class="newCommentSection">
    <h3>New comment</h3>
    <%= render 'comments/form' %>
  </div>
</div>

<%= link_to "Back", root_path, class: "btn btn-secondary back"  %>